h1,h2,h3{
  margin-top: 0px;
  margin-bottom: 15px;
}

.menu-estados{
  margin-top: 20px;
}

.dados-pessoais{
  margin-bottom: 15px;
}

.links-adicionais{
  margin-bottom: 20px; 
}

///
.main{
  min-height: 400px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-logo{
  height: 150px;
  overflow: hidden;
  border:#ccc solid 1px;
}

.agencia-lista{
  border:#ccc solid 1px;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 15px;
}

// adicionais
.menu-estados{
  padding: 0px;
  margin: 0px;
  list-style:none;
}

.menu-estados li a{
  border-left: $backgroundBarSite solid 3px;
  padding-left: 10px;
  color: #000;
  transition-duration: 0.3s;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  display: block;
  margin-bottom: 10px;
}

.menu-estados li a:hover{
  background-color: $backgroundHoverMenu;
  border-left: $backgroundBarSite solid 3px;
  color: #fff;
  text-decoration: none;
}


// rodape
footer{
  background-color: #6BA7D9;
  padding-top: 15px;
  padding-bottom: 15px;
}

// footer
.navbar-brand{
  height: auto;
}

.navbar-site{
  background-color: $backgroundBarSite;
  border-radius: 0px;

  .navbar-nav > li > a{
    color: #fff;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus,
  .navbar-nav > li.active > a{
    background-color:$backgroundHoverMenu;
    color: #fff !important;
  }
}
