.navbar-default .navbar-nav > li > a{
  color: #fff !important;
}

.btn-direito{
  margin-left: 10px;
}

.table_modal{
  width: 100% !important;
}

.conteudoInput{
  margin-bottom: 15px;
}

.tela-dados .row{
  margin-bottom: 30px;
}
